@import url('./global.scss');

:root {
    --input-height-xs: 1.875rem;
    --input-height-sm: 2.25rem;
    --input-height-md: 2.625rem;
    --input-height-lg: 3.125rem;
    --input-height-xl: 3.75rem;
    --input-font-size-xs: 0.75rem;
    --input-font-size-sm: 0.875rem;
    --input-font-size-md: 1;
    --input-font-size-lg: 1rem;
    --input-font-size-xl: 1.25rem;
    --input-padding-xs: calc(var(--input-height-xs) / 3);
    --input-padding-sm: calc(var(--input-height-sm) / 3);
    --input-padding-md: calc(var(--input-height-md) / 3);
    --input-padding-lg: calc(var(--input-height-lg) / 3);
    --input-padding-xl: calc(var(--input-height-xl) / 3);
    --input-radius-xs: 0.125rem;
    --input-radius-sm: 0.25rem;
    --input-radius-md: 0.5rem;
    --input-radius-lg: 1rem;
    --input-radius-xl: 2rem;
    --input-padding: var(--input-padding-sm);
    --input-icon-width-xs: 0.875rem;
    --input-icon-width-sm: 1rem;
    --input-icon-width-md: 1.125rem;
    --input-icon-width-lg: 1.25rem;
    --input-icon-width-xl: 1.375rem;
}